.container {
  background-color: #333;
  padding: 1rem;
  margin-top: 1rem;
}

.draggable {
  padding: 1rem;
  background-color: white;
  border: 1px solid black;
  cursor: move;
}

.draggable.dragging {
  opacity: 0.5;
}

.moduleElements:nth-child(1) {
  display: none;
}

.moduleElements {
  min-height: 60px;
}

select {
  padding: 20px;
  width: 70%;
  font-size: 18px;
}

option {
  font-size: 16px;
  padding: 5px;
}

.todo {
  width: 80%;
  margin: "15px";
}
