.container {
  background-color: #333;
  padding: 1rem;
  margin-top: 1rem;
}

.draggable {
  padding: 1rem;
  background-color: white;
  border: 1px solid black;
  cursor: move;
}

.draggable.dragging {
  opacity: 0.5;
}

.moduleElements {
  min-height: 60px;
}

.custom-select {
  width: 70%;
}

select {
  padding: 1em 1.5em;
  font-size: 18px;
  width: 70%;
}

.custom-select {
  position: relative;
}

.custom-arrow {
  position: absolute;
  top: 0;
  right: 0;
  background: #3b3c47;
  height: 100%;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-arrow svg {
  width: 200px;
}

option {
  font-size: 16px;
  padding: 5px;
}

.todo {
  width: 95%;
}
